  /* BREAKPOINTS */
  /* mobile : 480px,
  tablet : 768px,
  desktop : 1440px, */


  * {
      margin: 0;
      padding: 0;
      font-family: 'PT Sans', 'sans-serif';
  }

  .header {
      padding: 20px;
  }

  .hero {
      display: flex;
      width: 100%;
      border: 1px solid black;
  }

  .hero-left {
      flex: 1;
      padding: 60px;
      color: #ffffff;
      background-color: #1c1c1c;

      .hero-title {
          font-weight: 34px;
          margin-bottom: 30px;
      }

      .hero-subtitle {
          margin-bottom: 20px;
      }
  }



  .hero-right {
      flex: 0 1 700px;
      padding: 0;
  }

  .hero-right>img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      padding: 0;
  }

  .container {
      padding: 20px;
  }

  .navbar>ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  .navbar {
      display: flex;
      justify-content: space-between;
  }


  .navbar-content {
      display: flex;
  }

  .navbar-links {
      padding: 5px;
  }


  /* FOOTER */
  .footer {
      margin-top: auto;
      width: 100%;
      border: 1px solid black;
  }

  /* MEDIA QUERIES */